@-o-viewport {
    width: device-width;
  }
  @-ms-viewport {
    width: device-width;
  }
  @viewport {
    width: device-width;
  }


@media screen and (max-width: 361px) {
    html{
        height: 640px;
    }
    html, body{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 auto;
    }
    
    .b{
        background-color: none;
        background-image: none;
     }
     .cf{
         height: 100%;
     }
     .fila{
         width: 100%;
         height: 100%;
     }
    .contenedor{
        top:0px;
        border-radius: 0px;
        border-radius: 0px;
        width: 100%;
        height: 100%;
    }
    .fila2{
        background-size: 70%;
        height:  30%;
        border-radius: 0px;
        /* width: 100%;
        min-width: 100%; */
        /* width: device-width; */
     }
     
    .fila3{
        height: 25px;
        width: 100%;
        /* height:  25px;
        width: 576px; */
    }
    .span1{
        width: 34px;
        height: 10px;
    }
    .span2{
         width: 100px;
    }

    .c1{
        padding: 0px;
    }
    .filalogo{
        width: 100%;
        height: 50px;
        margin-top: 30px;
    }
    .filalogo img{
        width: 60%;
        height: 60%;
    }
    .filaLoguin{
        height: 30px;
        width: 100%;
        text-align: center;
     
        margin-top: 10px;
    }
    
    .span3{
        width: 72px;
        height: 30px;
        font-size: 25px;
        line-height: 30px;
    }
    .fila5{
        width: 360px;
        
    }
    .filaF{
        width: 360px; 
       
    }
    .filaA2{
        text-align: center;
        width: 360px;
    }
    .span4{
        height: 20px;
        font-size: 13px;
    }
    .span5{
        width: 202px;
        height: 12px;
        font-size: 10px;
    }
    
    p{
        width: 128px;
        height: 20px;
        font-size: 10px;
    }
    #label{
        width: 100px;
    }
  }

  @media screen and (max-width: 415px) {
    html{
        height: 640px;
    }
    html, body{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 auto;
    }
    
    .b{
        background-color: none;
        background-image: none;
     }
     .cf{
         height: 100%;
     }
     .fila{
         width: 100%;
         height: 100%;
     }
    .contenedor{
        top:0px;
        border-radius: 0px;
        border-radius: 0px;
        width: 100%;
        height: 100%;
    }
    .fila2{
        background-size: 70%;
        height:  30%;
        border-radius: 0px;
        /* width: 100%;
        min-width: 100%; */
        /* width: device-width; */
     }
     
    .fila3{
        height: 25px;
        width: 100%;
        /* height:  25px;
        width: 576px; */
    }
    .span1{
        width: 34px;
        height: 10px;
    }
    .span2{
         width: 100px;
    }

    .c1{
        padding: 0px;
    }
    .filalogo{
        width: 100%;
        height: 50px;
        margin-top: 30px;
    }
    .filalogo img{
        width: 60%;
        height: 60%;
    }
    .filaLoguin{
        height: 30px;
        width: 100%;
        text-align: center;
     
        margin-top: 10px;
    }
    
    .span3{
        width: 72px;
        height: 30px;
        font-size: 25px;
        line-height: 30px;
    }
    .fila5{
        width: 360px;
        height: 330px;
    }
    .filaF{
        width: 100%; 
       
    }
    .filaA2{
        text-align: center;
        width: 100%;
    }
    .filaA3{
        width: 100%;
    }
    .c2{
         height: 330px;  
    }
    .span4{
        height: 20px;
        font-size: 13px;
    }
    .span5{
        width: 202px;
        height: 12px;
        font-size: 10px;
    }
    .ca{
        text-align: right;
    }
    p{
        width: 128px;
        height: 20px;
        font-size: 10px;
    }
  }
  @media screen and (max-width: 641px) {
  
    html, body{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 auto;
    }
    
    .b{
        background-color: none;
        background-image: none;
     }
     .cf{
         height: 100%;
     }
     .fila{
         width: 100%;
         height: 100%;
     }
    .contenedor{
        top:0px;
        border-radius: 0px;
        border-radius: 0px;
        width: 100%;
        /* height: 100%; */
    }
    .fila2{
        background-size: 70%;
        height:  30%;
        border-radius: 0px;
        /* width: 100%;
        min-width: 100%; */
        /* width: device-width; */
     }
     
    .fila3{
        height: 25px;
        width: 100%;
        /* height:  25px;
        width: 576px; */
    }
    .span1{
        width: 34px;
        height: 10px;
    }
    .span2{
         width: 100px;
    }

    .c1{
        padding: 0px;
    }
    .filalogo{
        width: 100%;
        height: 60px;
        margin-top: 30px;
    }
    .filalogo img{
        width: 80%;
        height: 80%;
    }
    .filaLoguin{
        height: 50px;
        width: 100%;
        text-align: center;
     
        margin-top: 10px;
    }
    
    .span3{
        width: 72px;
        height: 30px;
        font-size: 25px;
        line-height: 30px;
    }
    .fila5{
        width: 360px;
        height: 100%;
    }
    .filaF{
        width: 360px; 
       
    }
    .filaA2{
        text-align: center;
        width: 360px;
    }
    .filaA3{
        width: 100%;
    }
    .c2{
         height: 330px;  
    }
    .span4{
        height: 20px;
        font-size: 13px;
    }
    .span5{
        width: 202px;
        height: 12px;
        font-size: 10px;
    }
    
    p{
        width: 128px;
        height: 20px;
        font-size: 10px;
    }
  }
  @media screen and (min-width: 641px) {
    .contenedor{
        top: 103px;
        bottom: 103px;

        height: 694px;
        width: 409px;
        /* width: 100%; */
        border-radius: 8px;
        border-radius: 8px;
    }

    .b{
        background-color: #FA2398;
        background-image: linear-gradient(180deg, #FA2398 0%, #DD1F94 100%);
        /* min-height: 100%; */
     }

     /* .fila{
         height: 1000px;
     } */
     .fila2{
        background-size: 70%;
        height:  30%;
        border-radius: 8px;
     }
     
    .fila3{
    
        height:  25px;
        width: 409px;
    }
    
    .span1{
        width: 44px;
        height: 14px;
    }
    .span2{
        width:  95px;
        height: 14px;
    
    
        
        text-align: right;
    }
    .filalogo{
        width: 409px;
        height: 30px;
        margin-top: 40px;
    }
    
    
    .filaLoguin{
        height: 30px;
        width: 409px;
    
        margin-top: 40px;
    }
    .span3{
        width: 72px;
        height: 30px;
        font-size: 25px;
        line-height: 30px;
    }
    .span4{
        height: 20px;
        font-size: 14px;
    }
    .span5{
        width: 242px;
        height: 12px;
        font-size: 12px;
    }
    .filaA{
        height: 20px;
        width: 409px;
    }
    .fila4{
        height: 130px;
        width: 409px;
    }
    
    
    .fila5{
        height: 354px;
        width: 409px;
    }
    .filaA2{
        text-align: center;
        width:409px ;
    }

    p{
        width: 178px;
        height: 20px;
        font-size: 14px;
    }
    #label{
        width: 329px;
        height: 13px;
    }
  }



@font-face{
    font-family: Nexa-XBold;
    src: url("../fonts/Nexa/Nexa_V1_2012/Nexa\ Bold.otf");
}
@font-face{
    font-family: Nexa-Bold;
    src: url("../fonts/Nexa/Nexa_V1_2012/Nexa\ Light.otf");
}
@font-face{
    font-family: Lato-Regular;
    src: url("../fonts/Lato-Regular.ttf");
}


html, body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 auto;
}
.contenedor{
    position: relative;

    background: #FFFFFF;
    box-shadow: 0 17px 26px 0 rgba(26,27,28,0.10);
}

.fila2{
    background-image: url(../img/Light-Cover-Pattern-bg@2x.png);
   
}



#img1{
    height: 24px;
    width: 24px;


    
} 
.c1{
    text-align: left;
}
.span1{
    display: inline-block;
   
    font-family: Nexa-XBold;
    font-size: 14px;
    color: #3B3B3B;
    text-align: center;
    line-height: 14px;
}
.c{
    text-align: right;
}
.span2{
    display: inline-block;


    /* width:  95px;
    height: 14px; */

    
    font-family: Nexa-XBold;
    font-size: 14px;
    color: #3B3B3B;
    text-align: center;
    line-height: 14px;

    text-decoration: underline #3B3B3B;
}

#img2{


    height: 24px;
    width: 24px;
}



.span3{
    display: inline-block;
  


    font-family: Nexa-XBold;
    /* font-size: 25px; */
    color: #1A1B1C;
    letter-spacing: 1px;
    text-align: center;
    /* line-height: 30px; */
}

.filaA{
    height: 20px;
}

.span4{
    display: inline-block;
   

    font-family: Lato-Regular;
    
    color: #84868A;
    letter-spacing: 0;
    text-align: center;
    line-height: 20px;
}


.fila4{
    height: 130px;
   
}




.span5{
    display: inline-block;
    /* margin-right: 10px; */

    font-family: Nexa-Bold;
    
    color: #3B3B3B;
    text-align: center;
    line-height: 12px;
}
/* .filaA2 .col-6{
    display: flex;
    align-items: center;
} */

hr{
    width: 33px;
    height: 1px;
    background: #9EA0A4;
}

.hr{
    width: 43px;
    height: 1px;
    background: #9EA0A4;
}
.filaF{
    height: 300px;
    /* width: 409px; */
}
#email{
    margin-bottom: 15px;
    height: 42px;

    background: #FFFFFF;
    border: 1px solid #DADCE1;  
    border-radius: 4px;
    border-radius: 4px;
}

#password{
    height: 42px;

    background: #FFFFFF;
    border: 1px solid #DADCE1;  
    border-radius: 4px;
    border-radius: 4px;
}

#label{
    margin-top: 10px;

    

    font-family: Lato-Regular;
    font-size: 13px;
    color: #3B3B3B;
    letter-spacing: 0;
    line-height: 13px;
}


.inner-addon {
    position: relative;
  }
  .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
  .right-addon .glyphicon {
    

    opacity: .5;
    right: 0px;
    top:25px;
  }
  .right-addon input {
    padding-right: 30px;
  }

  .form-check-label{
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: Lato-Regular;
    font-size: 14px;
    color: #3B3B3B;
    letter-spacing: 0;
    line-height: 20px;
  }
  .ca{
     text-align: right;   
    }       
  p{
    margin-top: 5px;
    
    font-family: Lato-Regular;
  
    color: #FA2398;
    letter-spacing: 0;
    text-align: right;
    line-height: 20px;
  }


#boton{
    /* border-color: #FA2398;
    background-color: #FA2398 ; */
    font-family: Nexa-XBold;
    font-size: 16px;
    letter-spacing: 0;
    text-align: center;
    line-height: 42px;
}
