.b{
   background-color: #FA2398;
   background-image: linear-gradient(180deg, #FA2398 0%, #DD1F94 100%);
}
/* .container{
    height: 900px;
} */

@font-face{
    font-family: Nexa-XBold;
    src: url("../fonts/Nexa/Nexa_V1_2012/Nexa\ Bold.otf");
}
@font-face{
    font-family: Nexa-Bold;
    src: url("../fonts/Nexa/Nexa_V2_2020/OTF/NexaDemo-Light.otf");
}
@font-face{
    font-family: Lato-Regular;
    src: url("../fonts/Lato-Regular.ttf");
}
.fila{
    height: 900px;
}
.contenedor{
    position: relative;


    top: 103px;
    height: 694px;
    width: 409px;

    /* width: 409px;
    height: 694px; */


    background: #FFFFFF;
    box-shadow: 0 17px 26px 0 rgba(26,27,28,0.10);
    border-radius: 8px;
    border-radius: 8px;

}

.fila2{
    background-image: url(../img/Light-Cover-Pattern-bg@2x.png);
    background-size: 70%;
   height:  210px;
   border-radius: 8px;
}

.fila3{
    
    height:  25px;
    width: 409px;
}



#img1{
    height: 24px;
    width: 24px;


    
} 

.span1{
    display: inline-block;
    width: 44px;
    height: 14px;
    font-family: Nexa-XBold;
    font-size: 14px;
    color: #3B3B3B;
    text-align: center;
    line-height: 14px;
}

.span2{
    display: inline-block;


    width:  95px;
    height: 14px;


    margin-left: 85px;
    text-align: right;
    font-family: Nexa-XBold;
    font-size: 14px;
    color: #3B3B3B;
    text-align: center;
    line-height: 14px;

    text-decoration: underline #3B3B3B;
}

#img2{


    height: 24px;
    width: 24px;
}


.filalogo{
    width: 409px;
    height: 30px;
    margin-top: 40px;
}

.filaLoguin{
    height: 30px;
    width: 409px;
    
    margin-top: 40px;
}

.span3{
    display: inline-block;
    width: 72px;
    height: 30px;


    font-family: Nexa-XBold;
    font-size: 25px;
    color: #1A1B1C;
    letter-spacing: 1px;
    text-align: center;
    line-height: 30px;
}

.filaA{
    height: 20px;
    width: 409px;
}

.span4{
    display: inline-block;
    height: 20px;
    width: 339px;

    font-family: Lato-Regular;
    font-size: 14px;
    color: #84868A;
    letter-spacing: 0;
    text-align: center;
    line-height: 20px;
}


.fila4{
    height: 130px;
    width: 409px;
}


.fila5{
    height: 354px;
    width: 409px;
}

.filaA2{
    width:329px ;
}
.span5{
    display: inline-block;
    width: 242px;
    height: 12px;
    margin-right: 10px;

    font-family: Nexa-Bold;
    font-size: 12px;
    color: #3B3B3B;
    text-align: center;
    line-height: 12px;
}
.filaA2 .col-6{
    display: flex;
    align-items: center;
}

hr{
    width: 33px;
    height: 1px;
    background: #9EA0A4;
}

.hr{
    width: 43px;
    height: 1px;
    background: #9EA0A4;
}
.filaF{
    height: 300px;
    width: 409px;
}
#email{
    margin-bottom: 15px;
    height: 42px;

    background: #FFFFFF;
    border: 1px solid #DADCE1;  
    border-radius: 4px;
    border-radius: 4px;
}

#password{
    height: 42px;

    background: #FFFFFF;
    border: 1px solid #DADCE1;  
    border-radius: 4px;
    border-radius: 4px;
}

#label{
    margin-top: 10px;

    width: 329px;
    height: 13px;

    font-family: Lato-Regular;
    font-size: 13px;
    color: #3B3B3B;
    letter-spacing: 0;
    line-height: 13px;
}


.inner-addon {
    position: relative;
  }
  .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
  .right-addon .glyphicon {
    

    opacity: .5;
    right: 0px;
    top:25px;
  }
  .right-addon input {
    padding-right: 30px;
  }

  .form-check-label{
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: Lato-Regular;
    font-size: 14px;
    color: #3B3B3B;
    letter-spacing: 0;
    line-height: 20px;
  }

  p{
    margin-top: 5px;
    width: 178px;
    height: 20px;
    font-family: Lato-Regular;
    font-size: 14px;
    color: #FA2398;
    letter-spacing: 0;
    text-align: right;
    line-height: 20px;
  }
.filabtn{
    width: 329px;
}

#boton{
    background-color: #FA2398 ;
    font-family: Nexa-XBold;
    font-size: 16px;
    letter-spacing: 0;
    text-align: center;
    line-height: 42px;
}
